#include <cuda_fp16.h>
#include <cuda_bf16.h>
#include "kuiops.h"

#include "{{module}}.h"

// addmm(C, A, B, beta, alpha) = beta*C + alpha*(A@B).
torch::Tensor op_{{name}} (torch::Tensor C, torch::Tensor A, torch::Tensor B,
                           double alpha, double beta)
{
    const int64_t M = A.size(0), K = A.size(1), N = B.size(1);
    auto Ac = A.contiguous();
    auto Bc = B.contiguous();
    auto Cout = C.clone();

    at::cuda::CUDAGuard g(A.device()); kuiops::sync_current_stream();

    {{module}}_{{name}} (
        (uint32_t)M, (uint32_t)K, (uint32_t)N,
        static_cast<{{cpp_et}}>((float)alpha),
        static_cast<{{cpp_et}}>((float)beta),
        reinterpret_cast<{{cpp_et}}*>(Ac.data_ptr()),
        reinterpret_cast<{{cpp_et}}*>(Bc.data_ptr()),
        reinterpret_cast<{{cpp_et}}*>(Cout.data_ptr()));

    return Cout;
}

PYBIND11_MODULE(TORCH_EXTENSION_NAME, m) {
    m.def("run", &op_{{name}}, "op_{{name}}");
}
